<div>
  <header class="head">
    <span class="left" data-forhash="#eventList" data-transition="slideRight" data-back="true">
      <h2 class="goBack"></h2>
    </span>
    <span id="TypeName">
    </span>
  </header>
  <!--head end of-->
  <section data-role="scrollerSection">
    <div class="scroller-body">
      <div class="scroller-content">
        <div class="flashPic">
          <span>
            <img id="Image" src="" />
          </span>
          <div class="line">
            <ul>
              <li class="redLine"></li>
              <li class="blueLine"></li>
            </ul>
          </div>
        </div>
        <!--flashPic end of-->
        <div class="doingInfr">
          <ul>
            <li id="ThisActivityInfo">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <footer class="newsFoot">
    <span id="newfootIcon_1" style="width:25%;">
      <dl>
        <dt class="newfootIcon_1"></dt>
        <dd>收藏</dd>
      </dl>
    </span>
    <!--<span id="newfootIcon_2" style="width:25%;">
      <dl>
        <dt class="newfootIcon_2"></dt>
        <dd>分享</dd>
      </dl>
    </span>-->
    <span id="newfootIcon_3" style="width:25%;">
      <dl>
        <dt class="newfootIcon_6"></dt>
        <dd>放大</dd>
      </dl>
    </span>
    <span id="newfootIcon_4" style="width:25%;">
      <dl>
        <dt class="newfootIcon_7"></dt>
        <dd>缩小</dd>
      </dl>
    </span>
    <span id="newfootIcon_8" data-transition="slideLeft" style="width:25%;">
      <dl>
        <dt class="newfootIcon_8"></dt>
        <dd>预约</dd>
      </dl>
    </span>
    <!--<span data-forhash="#seach" data-transition="slideLeft" >-->
    <!-- class="newsFootBg" -->
    <!--
      <dl>
        <dt class="searchIcon"></dt>
        <dd>搜索</dd>
      </dl>
    </span>-->
  </footer>
  <!--<div class="order">
    <span id="btnToYuYue" data-forhash="" data-transition="slideLeft" class="order">
      <strong>立即预约</strong>
    </span>
  </div>-->
  <!--newCotnet end of-->
</div>
