<div>
  <header class="head">
    <h1 class="fl list">
      <a href="#menu">
        <i class="listIcon"></i>我的收藏 |
      </a>
      <span>新闻收藏</span>
      <span class="onSpan">杂志收藏</span>
    </h1>
  </header>
  <!--head end of-->
  <div class="subNav" id="subNav">
    <ul>
      <code></code>
      <li>
        <a href="#">
          <i class="subIcon_1"></i>地产新闻
        </a>
      </li>
      <li>
        <a href="#">
          <i class="subIcon_2"></i>金融地产
        </a>
      </li>
      <li>
        <a href="#">
          <i class="subIcon_3"></i>上市公司
        </a>
      </li>
      <li class="noLine">
        <a href="#">
          <i class="subIcon_4"></i>楼市评论
        </a>
      </li>
    </ul>
  </div>
  <!--subNav end of-->
  <div class="content">
    <section class="line">
      <ul>
        <li class="redLine"></li>
        <li class="blueLine"></li>
      </ul>
    </section>
    <!--line end of-->
    <section class="newsList">
      <ul>
        <li>
          <a href="#">
            <div class="pic_box">
              <img src="images/flash/newsPic.png" alt="除房企谁还在淘金地产:险成新秀" />
            </div>
            <div class="title_box">除房企谁还在淘金地产:险成新秀</div>
            <div class="active_box">前天（5月29日），市房地产经纪业商苏州房地产经纪业自律公约》，40</div>
            <div class="time_box">
              <span>36</span>
              <code>36</code>
              <cite>5月16日</cite>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="pic_box">
              <img src="images/flash/newsPic.png" alt="除房企谁还在淘金地产:险成新秀" />
            </div>
            <div class="title_box">除房企谁还在淘金地产:险成新秀</div>
            <div class="active_box">前天（5月29日），市房地产经纪业商苏州房地产经纪业自律公约》，40</div>
            <div class="time_box">
              <span>36</span>
              <code>36</code>
              <cite>5月16日</cite>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="pic_box">
              <img src="images/flash/newsPic.png" alt="除房企谁还在淘金地产:险成新秀" />
            </div>
            <div class="title_box">除房企谁还在淘金地产:险成新秀</div>
            <div class="active_box">前天（5月29日），市房地产经纪业商苏州房地产经纪业自律公约》，40</div>
            <div class="time_box">
              <span>36</span>
              <code>36</code>
              <cite>5月16日</cite>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="pic_box">
              <img src="images/flash/newsPic.png" alt="除房企谁还在淘金地产:险成新秀" />
            </div>
            <div class="title_box">除房企谁还在淘金地产:险成新秀</div>
            <div class="active_box">前天（5月29日），市房地产经纪业商苏州房地产经纪业自律公约》，40</div>
            <div class="time_box">
              <span>36</span>
              <code>36</code>
              <cite>5月16日</cite>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="pic_box">
              <img src="images/flash/newsPic.png" alt="除房企谁还在淘金地产:险成新秀" />
            </div>
            <div class="title_box">除房企谁还在淘金地产:险成新秀</div>
            <div class="active_box">前天（5月29日），市房地产经纪业商苏州房地产经纪业自律公约》，40</div>
            <div class="time_box">
              <span>36</span>
              <code>36</code>
              <cite>5月16日</cite>
            </div>
          </a>
        </li>
      </ul>
    </section>
    <!--newsList end of-->
  </div>
  <!--content end of-->
  <nav id="menu">
    <ul>
      <%=WebBiz.GetMenuStr() %>
    </ul>
  </nav>
  <!--menu end of-->
</div>