<div>
  <header class="head">
    <span class="left" data-forhash="#magazFavList" data-transition="slideRight" data-back="true">
      <h2 class="goBack"></h2>
    </span>

    <span id="Name">
    </span>
  </header>
  <!--head end of-->
  <div class="content">
    <!--line end of-->
    <section>
      <div id="magazDetail-body">
        <div id="magazDetail-wrapper" style="overflow: hidden">
          <div id="magazDetail-scroller">
            <ul id="thelist">
              <li>
                <img src="" style="" />
              </li>
            </ul>
          </div>
        </div>
      </div>


      <!--homeContent end of-->
    </section>
    <!--content end of-->

    <div id="magazDetil-page">
      <div class="page-prev"></div>
      <div class="page-num">--/--</div>
      <div class="page-next"></div>
    </div>
    <!--menu end of-->
  </div>
  <!--page end of-->
</div>