<div>
  <header class="head">
    <span class="left" data-forhash="#newsList" data-transition="slideRight" data-back="true">
      <h2 class="goBack"></h2>
    </span>

    <span id="GroupName">
    </span>
    <!--<span class="right">
      <h3 class="noticeIcon"></h3>
    </span>-->
  </header>
  <!--head end of-->
  <section data-role="scrollerSection">
    <div class="scroller-body">
      <div class="scroller-content">
        <div class="flashPic">
          <span style="min-height:40px;display:block;">
            <dl id="Title">
            </dl>
            <img id="Image" src="" />
          </span>
          <div class="line">
            <ul>
              <li class="redLine"></li>
              <li class="blueLine"></li>
            </ul>
          </div>
        </div>
        <!--flashPic end of-->

        <div class="newsAuthor">
          <span id="newsSource">来源：xxx</span><span id="newsAuthor" style="margin-left:20px;">作者：xxx</span>
        </div>
        
        <div class="newsCotnet" id="Content">
        </div>
      </div>
    </div>
  </section>
  <!--newCotnet end of-->
  <footer class="newsFoot">
    <span id="newfootIcon_1" style="width:34%;">
      <dl>
        <dt class="newfootIcon_1"></dt>
        <dd>收藏</dd>
      </dl>
    </span>
    <!--<span id="newfootIcon_2" style="width:25%;">
      <dl>
        <dt class="newfootIcon_2"></dt>
        <dd>分享</dd>
      </dl>
    </span>-->
    <span id="newfootIcon_3" style="width:33%;">
      <dl>
        <dt class="newfootIcon_6"></dt>
        <dd>放大</dd>
      </dl>
    </span>
    <span id="newfootIcon_4" style="width:33%;">
      <dl>
        <dt class="newfootIcon_7"></dt>
        <dd>缩小</dd>
      </dl>
    </span>
    <!--<span data-forhash="#seach" data-transition="slideLeft" >--><!-- class="newsFootBg" --><!--
      <dl>
        <dt class="searchIcon"></dt>
        <dd>搜索</dd>
      </dl>
    </span>-->
  </footer>
</div>
