<div>
  <header class="head">      
    <span class="left" data-forhash="#myHome" data-transition="slideRight" data-back="true">
      <h2 class="goBack"></h2>
    </span>
    <span id="TypeName">
    </span>
  </header>
  <section data-role="scrollerSection">
    <div class="scroller-body">
      <div class="pullDown" data-minscrolly="57">
        <span class="pullDownIcon"></span>
        <span class="pullDownLabel">下拉可以刷新...</span>
        <p class="pullDate"></p>
      </div>
      <div class="scroller-content">
        <!--flash end of-->
        <div class="line">
          <ul>
            <li class="redLine"></li>
            <li class="blueLine"></li>
          </ul>
        </div>
        <!--line end of-->
        <div class="newsList-body">
          <ul>
            
            <!--<li data-forhash="#newsDetail/1" data-transition="slideLeft">
              <div>
                <div class="pic_box">
                  <img width="96px" height="80px" src="images/20140529194524591.jpg">
                        </div>
                <div class="title_box">《苏州房地产经纪业自律公约》出炉 </div>
                <div class="active_box">前天（5月29日），市房地产经纪业商会全体会议通过了《苏州房地产经纪业自律公约》，40家行业骨干企业共同签署了《公约》，公开承诺自觉维护客户合法权益，保守客户信息秘密，不利用客户信息从事任何与向客户作出承诺无关的活动。</div>
                <div class="time_box">
                  <span>0</span>
                  <code>0</code>
                  <cite>06月01日</cite>
                </div>
              </div>
            </li>-->
          </ul>
        </div>
        <!--newsList end of-->
      </div>
      <div class="pullUp none">
        <span class="pullUpIcon"></span>
        <span class="pullUpLabel"></span>
      </div>
    </div>
  </section>

</div>
