<div>
  <header class="head">
    <span class="left" data-forhash="#newsList" data-transition="slideRight" data-back="true">
      <h2 class="goBack"></h2>
    </span>

    <span id="GroupName">
    </span>

  </header>
  <!--head end of-->
  <section>
    <div class="flashPic">
      <span>

        <video id="Image" class="video-js vjs-default-skin" controls="controls" preload="none"  width="320" height="176"
       poster="" data-setup="{}">
          <source id="sourcemp4" src="" type='video/mp4' />
        </video>

      </span>
      <div class="line">
        <ul>
          <li class="redLine"></li>
          <li class="blueLine"></li>
        </ul>
      </div>
    </div>
    <div class="scroller-body">
      <div id="scroller-warp">
        <div class="scroller-content">

          <!--flashPic end of-->
          <dl id="Title">
          </dl>
          <div class="newsCotnet" id="Content">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
