<div>
  <header class="head">
    <h1 class="fl list">
      <span>
        <i></i>视频
      </span>
    </h1>
  </header>
  <!--head end of-->
  <div class="content">

    <!--line end of-->
    <section data-role="scrollerSection">
      <div class="scroller-body">
        <div class="pullDown" data-minscrolly="57">
          <span class="pullDownIcon"></span>
          <span class="pullDownLabel">下拉可以刷新...</span>
          <p class="pullDate"></p>
        </div>
        <div class="scroller-content">

          <div >
            <ul class="videoList">
              
            </ul>
          </div>
        </div>
        <div class="pullUp">
          <span class="pullUpIcon"></span>
          <span class="pullUpLabel"></span>
        </div>
      </div>


      <!--homeContent end of-->
    </section>
    <!--content end of-->

    <!--menu end of-->
  </div>
  <!--page end of-->
  <%= mad.view.render({ url : app.templateUrlDict.footer},{ pageName: "videoList" }) %>
  </div>